<h2 class='word'>WELCOM teXchange</h2>
<div class='container'>
  <table class="table">
    <thead>
      <tr>
        <th>Word</th>
        <th>Language</th>
        <th>Answered</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |card| %>
        <tr>
          <td><%= card.word %></td>
          <td><%= card.language %></td>
          <td>yes</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Card', new_card_path %>
