<div class='container'>
  <div class='row'>
    <div class='col-md-7'>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Word</th>
            <th>Language</th>
            <th>Answered</th>
          </tr>
        </thead>
        <tbody>
          <% @cards.each do |card| %>
            <tr>
              <td>
                <div class='mini-card'>
                  <div class='mini-words'>
                    <p><%=link_to card.word, card_path(card.id) %><p>
                  </div>
                </div>
              </td>
              <td><%= card.language %></td>
              <td>yes</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='col-md-5 right-panel'>
      <h2 class='word'>WELCOME teXchange</h2>
    </div>
  </div>
</div>
<br>

<%= link_to 'New Card', new_card_path %>
