<div class='container'>
  <div class='row'>
    <div class='col-md-4 col-md-offset-4'>
      <div class='card'>
        <div class='word'>
          <h2><%= @card.word %></h2>
        </div>
        <div class="def">
          <p><u>Definition:</u> <%= @card.definition %></p>
        </div>
        <div class='sentence well'>
          <p>here is some word in a sentence</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
