/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .card{
  position: relative;
  height: 400px;
  width: 300px;
  border: solid black 2px;
  border-radius: 7px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgba(253, 13, 13, 0.5);
 }
.options{
  position: absolute;
  top: 10px;
  left: 10px;
}
.word{
  text-align: center;
  margin-bottom: 30px;
  color: white;
}
.part-of-speech{
  margin-top: 15px;
}
.sentence{
  position: absolute;
  bottom: 20px;
  max-width: 255px;

}
.devise-login{
  position: absolute;
  top: 10px ;
  right: 20px;
  width: 100px;
  text-align: center;
}
.devise-message{
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: grey;
}
.mini-card{
  height: 80px;
  width: 80px;
  border: solid black 1px;
  border-radius: 7px;
}
.mini-words{
  font-size: 16px;
  text-align: center;
  margin-top: 30%;
}
.right-panel{
  position: absolute;
  position: fixed;
  right: 0;
  height: 100%;
  background-color: black;
}
.btn{
  margin-top: 10px;
  width: 80px;
}
